<?php

namespace Migration;

use Dbtlr\MigrationProvider\Migration\AbstractMigration;
use Doctrine\DBAL\Schema\Schema;

class %s extends AbstractMigration
{
    /**
     * @param Schema $schema
     */
    public function up(Schema $schema)
    {

    }

    /**
     * @param Schema $schema
     */
    public function down(Schema $schema)
    {

    }

    /**
     * @return string
     */
    public function getMigrationInfo()
    {
        return '%s';
    }
}
